{%extends 'base.html'%}
{%block title%}
Add Product
{%endblock%} 

{%block content%} 
<div class="container">
    <div class="row">
        <div class="col-md-1"></div>
            <div class="col-md-10">
                <div class="text">Add a product</div>
                <form method="post" enctype="multipart/form-data">
                <div>
                    {{form.title.label(class="form-control-label text")}}
                    {{form.title(class="form-control form-control-lg")}}

                    {{form.price.label(class="form-control-label text")}}
                    {{form.price(class="form-control form-control-lg")}}

                    {{form.discount.label(class="form-control-label text")}}
                    {{form.discount(class="form-control form-control-lg")}}

                    {{form.stock.label(class="form-control-label text")}}
                    {{form.stock(class="form-control form-control-lg")}}

                    {{form.description.label(class="form-control-label text")}}
                    {{form.description(class="form-control form-control-lg")}}
                </div>
                <div class="container">
                    <input type="file" name="pic" />
                    <input class="login" type="submit" value="Upload a file"/>                    
                </div>
                </form>
            </div>
      <div class="col-md-1"></div>
    </div>
</div></form>
</div>

{%endblock%}