{% extends 'base.html'%}
{%block title%} Home Page {%endblock%}
{%block content%} 
<!--Actual Content-->
<h1 class="title">
    Welcome to MY_FLASK
</h1>
<p class="text">
    Where you get everything your heart desires.
</p>
<p class="text">
    This is the paradise for anybody who is passionate about shopping. We offer you everything 
    you can imagine. There are no limits set neither for you or for us. Our partnerships all around 
    the world lets us to offer you all kinds of stylish clothing or accessories for ordinary life or 
    fancy occassions.
</p>
<h1 class="title">
    Special Treatment
</h1>
<p class="text">
    Every customer is our king and we your servants will never be satisfied as long as you are not.
    Therefore we offer you a large scale of offers for you:
    <ul class="listing">
        <li>
            Personal Tailoring by the world-famous ...
        </li>
        <li>
            Child Care while you enjoy heaven on earth 24/7
        </li>
        <li>
            Kind and friendly advisors who dedicate their life to our fashion
        </li>
    </ul>
</p>
<!--End Content-->
{%endblock%}
