{% extends 'base.html'%}
{%block title%} Home Page {%endblock%}
{%block content%} 
<!--Actual Content-->
<h1 class="title">
    Welcome to MY_FLASK
</h1>
<p class="text">
    Where you get everything your heart desires.
</p>
<p class="text">
    This is the paradise for anybody who is passionate about shopping. We offer you everything 
    you can imagine. There are no limits set neither for you or for us. Our partnerships all around 
    the world lets us to offer you all kinds of stylish clothing or accessories for ordinary life or 
    fancy occassions. Our service is not limited simply to clothing but it is also possible to buy reinfurbished
    electronic which has been carfully inspected by our electronic specialists. Every piece of electronic here 
    works perfectly fine and is accompanied with warranty of at least twelve months. If you ever wish to 
    enjoy the frangrances from a broad variety of perfumes then we are the best choice for it.  
</p>
<h1 class="title">
    Special Treatment
</h1>
<p class="text">
    Every customer is our king and we your servants will never be satisfied as long as you are not.
    Therefore punctual delivery is our highest priority to ensure customer satisfaction.
</p>
<h1 class="title">
    Shop 
</h1>
<p class="text">
    If your want to try out our first-class products then you just have to visit our shop in New York.
    When you arrive the gate to heaven will open up in front of your eyes. Customers are greeted with a smile. 
    Shelves are filled to the brim with anything you want. It is only a paradise.
</p>

<!--End Content-->
{%endblock%}
